@model A2.University.Web.Models.StaffPortal.CourseEnrolmentDeleteViewModel

@{
    ViewBag.Title = "Delete Course Enrolment";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Are you sure you want to delete this course enrolment?</h3>
        <hr />

        @*Student ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StudentId)</p>
            </div>
        </div>

        @*Student full name*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StudentFullName)</p>
            </div>
        </div>

        @*Course ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.CourseId)</p>
            </div>
        </div>

        @*Course Title*@

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Title)</p>
            </div>
        </div>

        @*Status*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseStatus, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.CourseStatus)</p>
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "CourseEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}
