@model A2.University.Web.Models.CourseEnrolmentDetailsViewModel

@{
    ViewBag.Title = "Course Enrolment Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @*Student ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.student_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.student_id)</p>
            </div>
        </div>

        @*Student full name*@

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.fullname)</p>
            </div>
        </div>

        @*Course ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.course_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.course_id)</p>
            </div>
        </div>

        @*Course title*@

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.title)</p>
            </div>
        </div>

        @*Status*@

        <div class="form-group">
            @Html.LabelFor(model => model.course_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.course_status)</p>
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <a class="btn btn-default" href="@Url.Action("Edit", "CourseEnrolment", new { id = Model.course_enrolment_id })">Edit</a>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "CourseEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}
