@model A2.University.Web.Models.StaffPortal.CourseEnrolmentEditViewModel

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Edit Course Enrolment";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit course enrolment details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Readonly/hidden but still want to pass to controller*@
        @Html.HiddenFor(model => model.CourseEnrolmentId)
        @Html.HiddenFor(model => model.CourseStatus)
        @Html.HiddenFor(model => model.StudentId)

        @*Student ID*@
        @*Readonly to maintain data integrity*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.StudentIdFullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" }})
            </div>
        </div>

        @*Course ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CourseId, Model.CourseDropDownList, "Select Course", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Status*@
        @*TODO: will decide to delete later*@
@*        <div class="form-group">*@
@*            @Html.LabelFor(model => model.CourseStatus, htmlAttributes: new { @class = "control-label col-md-2" })*@
@*            <div class="col-md-4">*@
@*                @Html.DropDownListFor(model => model.CourseStatus, Model.CourseStatusDropDownList, "Select Status", new { @class = "form-control" })*@
@*            </div>*@
@*            <div class="col-md-4">*@
@*                @Html.ValidationMessageFor(model => model.CourseStatus, "", new { @class = "text-danger" })*@
@*            </div>*@
@*        </div>*@

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "CourseEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
