@model IEnumerable<A2.University.Web.Models.Entities.Student>

@{
    ViewBag.Title = "Manage Students";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/student.png")"/>
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete student details.
            </p>
        </div>
    </div>

</div>

<div class="row">
    <a href="@Url.Action("Create", "Student")">
        <img class="btn" src="@Url.Content("~/Content/img/icons/add.png")" width="50" />
        New Student
    </a>
</div>

<table class="table small">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ph_landline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ph_mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adrs_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adrs_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adrs_postcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ph_landline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ph_mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adrs_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adrs_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adrs_postcode)
            </td>
            <td>

                <a href="@Url.Action("Edit", "Student", new { id = item.student_id })">
                    <img class="btn-group-sm" src="@Url.Content("~/Content/img/icons/edit.png")" width="23"/>
                </a>
                <a href="@Url.Action("Details", "Student", new { id = item.student_id })">
                    <img class="btn-group-sm" src="@Url.Content("~/Content/img/icons/view.png")" width="23"/>
                </a>
                <a href="@Url.Action("Delete", "Student", new { id = item.student_id })">
                    <img class="btn-group-sm" src="@Url.Content("~/Content/img/icons/delete.png")" width="23"/>
                </a>
@*                @Html.ActionLink("Edit", "Edit", new { id = item.student_id }) |*@
@*                @Html.ActionLink("Details", "Details", new { id = item.student_id }) |*@
@*                @Html.ActionLink("Delete", "Delete", new { id = item.student_id })*@
            </td>
        </tr>
    }

    </table>
