@model A2.University.Web.Models.StaffRegisterViewModel
@{
    ViewBag.Title = "Register Staff User";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/staff.png")" />
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Staff must exist in database before registering
            </p>
        </div>
    </div>
</div>

@using (Html.BeginForm("Register", "StaffAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*Email*@

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Password*@

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Confirm password*@

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" class="btn btn-default" value="Register"/>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Home")">Cancel</a>
            </div>
            <div class="col-md-6">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}