@using System.Web.Configuration
@{
    ViewBag.Title = "University Manager";
    ViewBag.Staff = "Staff users";
    ViewBag.Student = "Student users";
    ViewBag.Author = "Martin Ponce, ID 10371381";
}

@*Blurb*@

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        This web application provides a Staff Portal where staff can log in and manage students, units, courses and enrolments.
        The Student Portal allows students to log in to view their results and course progress.
        University data is stored in a local <a href="@Url.Action("About", "Home")">SQLite</a> database,
        and user login data is stored in a
        <a href="http://blogs.msdn.com/b/sqlexpress/archive/2011/07/12/introducing-localdb-a-better-sql-express.aspx" target=":blank">LocalDB</a> database,
        both managed by this application.
    </p>
    <p class="lead">
        Written in C# ASP.NET MVC5 using Visual Studio 2015.
    </p>

    <h5>
        @ViewBag.Author
    </h5>
</div>

<hr/>

@*Staff/Student login*@

<div class="row vert-gap">
    <div class="col-md-6">
        @*Staff login*@
        @Html.Partial("~/Views/StaffAccount/_LoginPartial.cshtml")
    </div>
    <div class="col-md-6">
        @*Student login*@
        <a href="@Url.Action("Login", "StudentAccount")">
            <img class="btn btn-default center" src="@Url.Content("~/Content/img/icons/student.png")" />
        </a>
        <h3 class="text-center">
            @ViewBag.Student
        </h3>
    </div>
</div>