@using System.Web.Configuration
@{
    ViewBag.Title = "University Manager";
    ViewBag.Staff = "Staff Portal";
    ViewBag.Student = "Student Portal";
    ViewBag.Author = "Martin Ponce, ID 10371381";
}

@*Blurb*@

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/uni.png")" />
        </div>
        <div class="col-md-10">
            <h1>@ViewBag.Title</h1>
            <p class="lead">
                This web application provides a Staff Portal where staff can log in and manage students, units, courses and enrolments.
                The Student Portal allows students to log in to view their results and course progress.
                Data is stored in a local <a href="@Url.Action("About", "Home")">SQLite</a> database and managed by this application.
            </p>
            <p class="lead">
                Written in C# ASP.NET MVC5 using Visual Studio 2015.
            </p>

            <h5>
                @ViewBag.Author
            </h5>
        </div>
    </div>
</div>

<div class="row vert-gap">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "StaffPortal")">
            <img class="btn btn-default center" src="@Url.Content("~/Content/img/icons/staff.png")"/>
        </a>
        <h3 class="text-center">
            @ViewBag.Staff
        </h3>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Login", "StudentAccount")">
            <img class="btn btn-default center" src="@Url.Content("~/Content/img/icons/student.png")"/>
        </a>
        <h3 class="text-center">
            @ViewBag.Student
        </h3>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}