@model A2.University.Web.Models.UnitEnrolmentCreateViewModel

@{
    ViewBag.Title = "Create New Unit Enrolment";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Enter new unit enrolment details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CourseEnrolmentId)

        @*Student ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StudentId, Model.StudentDropDownList, "Select Student", new {@class = "form-control"})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.StudentId, "", new {@class = "text-danger"})
                @Html.ValidationMessageFor(model => model.CourseEnrolmentId, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Unit ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.UnitId, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.UnitId, Model.UnitDropDownList, "Select Unit", new {@class = "form-control"})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.UnitId, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Year/Sem*@

        <div class="form-group">
            @Html.LabelFor(model => model.YearSem, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.YearSem, new {htmlAttributes = new {@class = "form-control", placeholder = "Example 152"}})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.YearSem, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Mark*@

        <div class="form-group">
            @Html.LabelFor(model => model.Mark, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Mark, new {htmlAttributes = new {@class = "form-control", placeholder = "Between 0 and 100"}})
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "UnitEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
