@model A2.University.Web.Models.UnitEnrolmentDetailsViewModel

@{
    ViewBag.Title = "Unit Enrolment Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.student_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.student_id)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.fullname)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.unit_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.unit_id)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.title)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.year_sem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.year_sem)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <a class="btn btn-default" href="@Url.Action("Edit", "Unit", new { id = Model.unit_id })">Edit</a>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
            </div>
        </div>
    </div>
}

<div>
    <h4>UnitEnrolment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.year_sem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year_sem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.unit_enrolment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
