@model A2.University.Web.Models.StaffPortal.UnitEnrolmentDetailsViewModel

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Unit Enrolment Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @*Student ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StudentId)</p>
            </div>
        </div>

        @*Student full name*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentFullName, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StudentFullName)</p>
            </div>
        </div>

        @*Unit ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.UnitId, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.UnitId)</p>
            </div>
        </div>

        @*Unit Title*@

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Title)</p>
            </div>
        </div>

        @*Year/sem*@

        <div class="form-group">
            @Html.LabelFor(model => model.YearSem, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.YearSem)</p>
            </div>
        </div>

        @*Mark*@

        <div class="form-group">
            @Html.LabelFor(model => model.Mark, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Mark)</p>
            </div>
        </div>

        @*Grade*@

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Grade)</p>
            </div>
        </div>

        @*Course*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseIdTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.CourseIdTitle)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <a class="btn btn-default" href="@Url.Action("Edit", "UnitEnrolment", new { id = Model.UnitEnrolmentId })">Edit</a>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "UnitEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}
