@model A2.University.Web.Models.UnitEnrolmentDetailsViewModel

@{
    ViewBag.Title = "Unit Enrolment Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @*Student ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.student_id, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.student_id)</p>
            </div>
        </div>

        @*Student full name*@

        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.fullname)</p>
            </div>
        </div>

        @*Unit ID*@

        <div class="form-group">
            @Html.LabelFor(model => model.unit_id, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.unit_id)</p>
            </div>
        </div>

        @*Unit title*@

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.title)</p>
            </div>
        </div>

        @*Year/sem*@

        <div class="form-group">
            @Html.LabelFor(model => model.year_sem, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.year_sem)</p>
            </div>
        </div>

        @*Mark*@

        <div class="form-group">
            @Html.LabelFor(model => model.mark, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.mark)</p>
            </div>
        </div>

        @*Grade*@

        <div class="form-group">
            @Html.LabelFor(model => model.grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.grade)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <a class="btn btn-default" href="@Url.Action("Edit", "UnitEnrolment", new { id = Model.unit_enrolment_id })">Edit</a>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "UnitEnrolment")">Cancel</a>
            </div>
        </div>
    </div>
}
