@using GridMvc.Html
@model IEnumerable<A2.University.Web.Models.StaffPortal.UnitEnrolmentIndexViewModel>

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Manage Unit Enrolments";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/unitEnrol.png")"/>
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete unit enrolments
            </p>
        </div>
    </div>
</div>

@*Feedback notice, only shown if tempdata exists*@
@Html.Partial("_FeedbackNotice")

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "UnitEnrolment")">Create New Unit Enrolment</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting/pagination.
*@

@Html.Grid(Model).Columns(columns =>
{
    // student id
    columns.Add(data => data.StudentId)
        .Titled("Student ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // student LastName
    columns.Add(data => data.StudentLastName)
        .Titled("Surname")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // unit id
    columns.Add(data => data.UnitId)
        .Titled("Unit ID")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // unit Title
    columns.Add(data => data.Title)
        .Titled("Title")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // year/sem
    columns.Add(data => data.YearSem)
        .Titled("Year/Sem")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // Mark
    columns.Add(data => data.Mark)
        .Titled("Mark")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // Grade
    columns.Add(data => data.Grade)
        .Titled("Grade")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // Course
    columns.Add(data => data.CourseId)
        .Titled("Course ID")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("View", "Details", new { id = data.UnitEnrolmentId }));
    // edit
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Edit", "Edit", new { id = data.UnitEnrolmentId }));
    // delete
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Delete", "Delete", new { id = data.UnitEnrolmentId }));
}).WithPaging(10).Sortable(true)

<a class="btn btn-default button-top-gap" href="@Url.Action("Index", "StaffPortal")">Back</a>