@model IEnumerable<A2.University.Web.Models.Entities.UnitEnrolment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.year_sem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.year_sem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.unit_enrolment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.unit_enrolment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.unit_enrolment_id })
        </td>
    </tr>
}

</table>
