@model CSI2441.A2.Web.MVC.Models.EditStudentViewModel
@{
    ViewBag.Title = "Edit Student";
}

<h2>@ViewBag.Title</h2>

@*Start the input form*@

@using (Html.BeginForm("EditStudent", "ManageStudent", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Please search for student to edit</h4>
    <hr/>
    @Html.ValidationSummary("", new { @class = "text-danger"})

    @*Search method*@

    <div class="form-group">
        @Html.LabelFor(model => model.SearchMethod, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.SearchMethod, new List<SelectListItem>
            {
                new SelectListItem {Text = "Student ID", Value = "1", Selected = true},
                new SelectListItem {Text = "Student Name", Value = "2"}
            }, "Select Method", new {@class = "form-control"})
        </div>
        <div class="col-md-7">
            @Html.ValidationMessageFor(model => model.SearchMethod, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Search string*@

    <div class="form-group">
        @Html.LabelFor(model => model.SearchString, new {@class = "col-md-2 control-label"})
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.SearchString, new {@class = "form-control", placeholder = "Required"})
        </div>
        <div class="col-md-7">
            @Html.ValidationMessageFor(model => model.SearchString, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Submit button*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Search"/>
        </div>
    </div>
}

@*Cancel button, returns to ManageStudent Index*@
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-default pull-right" href="@Url.Action("Index", "ManageStudent")">Cancel</a>
    </div>
</div>

@*Placeholder*@
@*TODO: Resolve and remove placeholder*@

<div class="jumbotron">
    <p>Placeholder!</p>
    <p>
        If match, return results here. Else send user to error view. <br/>
        Results will have <input type="submit" class="btn btn-default" value="Edit Student"/> next to each entry.<br/>
        May send user to new edit view after clicking <input type="submit" class="btn btn-default" value="Edit Student" /><br/>
        Remember: Do not show Student ID, do not want that edited.
    </p>
</div>