@model A2.University.Web.Models.UnitDeleteViewModel

@{
    ViewBag.Title = "Delete Unit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Are you sure you want to delete this unit?</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.unit_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.unit_id)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.title)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.credit_points, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.credit_points)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coordinator_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.coordinator_name)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.unit_type_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.unit_type_title)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
            </div>
        </div>
    </div>
}
