@model A2.University.Web.Models.Entities.Unit

@{
    ViewBag.Title = "Delete Unit";
}

<h2>@ViewBag.Title</h2>
<div>
    <h3>Are you sure you want to delete this unit?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unit_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
        </div>
    }
</div>
