@model A2.University.Web.Models.StaffPortal.UnitDeleteViewModel

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Delete Unit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Are you sure you want to delete this unit?</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.UnitId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.UnitId)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Title)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditPoints, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.CreditPoints)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StaffFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StaffFullName)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitTypeTitle, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.UnitTypeTitle)</p>
            </div>
        </div>

        @*Show user how many records will be affected in deletion*@
        @Html.Partial("_DeleteNotice")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
            </div>
        </div>
    </div>
}
