@model A2.University.Web.Models.Entities.Unit

@{
    ViewBag.Title = "Unit Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unit_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.title)
        </dd>

    </dl>
</div>
<div class="form-actions no-color">
    <a class="btn btn-default span-btn-cancel" href="@Url.Action("Edit", "Unit", new { id = Model.unit_id })">Edit</a>
    <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
</div>
