@model A2.University.Web.Models.UnitEditViewModel

@{
    ViewBag.Title = "Edit Unit";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit unit details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.unit_id)

        @*Unit ID*@
        @*Primary key! Cannot be modified by user, static text shown instead of textbox*@
        @*If user wants to edit, delete record and start from scratch.*@
        @*PK cannot be modified using Entity Framework, see: http://stackoverflow.com/questions/1367751/update-primary-key-value-using-entity-framework*@
        <div class="form-group">
            @Html.LabelFor(model => model.unit_id, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.unit_id)</p>
            </div>
            <div class="col-md-6">
                <p class="text-danger form-display">Unable to edit Unit ID, please delete record if modification required.</p>
            </div>
        </div>

        @*Title*@

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Coordinator*@

        <div class="form-group">
            @Html.LabelFor(model => model.coordinator_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.coordinator_id, Model.CoordinatorDropDownList, "Select Coordinator", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.coordinator_id, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Credit points*@

        <div class="form-group">
            @Html.LabelFor(model => model.credit_points, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.credit_points, Model.CreditPointsDropDownList, "Select Credit Points", new {@class = "form-control"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.credit_points, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Unit type*@

        <div class="form-group">
            @Html.LabelFor(model => model.unit_type_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.unit_type_id, Model.UnitTypeTitleDropDownList, "Select Unit Type", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.unit_type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Unit")">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
