@model A2.University.Web.Models.StaffPortal.StaffDeleteViewModel

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Delete Staff Member";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Are you sure you want to delete this staff member?</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.StaffId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.StaffId)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.FirstName)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.LastName)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.Email)</p>
            </div>
        </div>

        @*Show user how many records will be affected in deletion*@
        @Html.Partial("_DeleteNotice")

        @*Give user warning about deletes*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6 text-warning">
                    NOTE: Cascade on delete not the best method here, update to "Deleted Staff" on delete, or similar may be a better approach.
                    Deletion of any Staff assigned as Coordinator not advised. Staff CRUD was only intended to assist in building the demo database 
                    and is out of scope in the assignment.
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Staff")">Cancel</a>
            </div>
        </div>
    </div>
}