@model A2.University.Web.Models.Entities.Staff

@{
    ViewBag.Title = "Staff Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.staff_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.staff_id)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.firstname)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.surname)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <p class="form-display">@Html.DisplayFor(model => model.email)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 button-top-gap">
                <a class="btn btn-default" href="@Url.Action("Edit", "Staff", new { id = Model.staff_id })">Edit</a>
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Staff")">Cancel</a>
            </div>
        </div>
    </div>
}