@model IEnumerable<A2.University.Web.Models.StaffPortal.StaffIndexViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Manage Staff";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/staff.png")" />
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete staff
            </p>
        </div>
    </div>
</div>

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "Staff")">Create New Staff</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting/pagination.
*@

@Html.Grid(Model).Columns(columns =>
{
    // staff id
    columns.Add(data => data.StaffId)
        .Titled("Staff ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // first name
    columns.Add(data => data.FirstName)
        .Titled("First name")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // LastName
    columns.Add(data => data.LastName)
        .Titled("Surname")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // Email
    columns.Add(data => data.Email)
        .Titled("Email")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("View", "Details", new { id = data.StaffId }));
    // edit
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Edit", "Edit", new { id = data.StaffId }));
    // delete
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Delete", "Delete", new { id = data.StaffId }));
}).WithPaging(15).Sortable(true)

<a class="btn btn-default button-top-gap" href="@Url.Action("Index", "StaffPortal")">Back</a>