@model A2.University.Web.Models.StudentChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutStudentPortal.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "StudentManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr/>

    <div class="form-horizontal">

        @*Old password*@

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
                @ViewBag.Error
            </div>
        </div>

        @*New password*@

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Confirm password*@

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Required"})
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" class="btn btn-default" value="Change password" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "StudentManage")">Cancel</a>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}