
@{
    ViewBag.Title = "TestForm";
}

<h2>TestForm</h2>

@using (Html.BeginForm())
{
    @Html.Label("Name")
    @Html.TextBox("Name")
    @Html.ValidationMessage("Name")<br/>

    @Html.Label("Email")
    @Html.TextBox("Email")
    @Html.ValidationMessage("Email")<br />

    @Html.Label("Phone")
    @Html.TextBox("Phone")
    @Html.ValidationMessage("Phone")<br />

    <button type="submit">Submit</button>
}