@*import model*@
@model MVC.Web.Tutorial.Models.TestFormModel
@{
    ViewBag.Title = "TestForm";
}

<h2>TestForm</h2>

@using (Html.BeginForm())
{
@*    @Html.Label("Name")*@
    @Html.LabelFor(model => model.Name)

    // to use jquery.validate.unobtrusive.js, import model, see above, then
    // replace this line
@*    @Html.TextBox("Name")*@
    // with this
    @Html.TextBoxFor(model => model.Name) // reference model variable with lambda expression

@*    @Html.ValidationMessage("Name")<br/>*@
    @Html.ValidationMessageFor(model => model.Name)<br/>

@*    @Html.Label("Email")*@
@*    @Html.TextBoxFor(model => model.Email)*@
@*    @Html.ValidationMessage("Email")<br />*@

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)<br/>

@*    @Html.Label("Phone")*@
@*    @Html.TextBoxFor(model => model.Phone)*@
@*    @Html.ValidationMessage("Phone")<br />*@

    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)<br/>

    <button type="submit">Submit</button>
}