@model A2.University.Web.Models.CourseEditViewModel

@{
    ViewBag.Title = "Edit Course";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit course details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Course ID*@
        @*Is PK, read only*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" }})
            </div>
        </div>

        @*Title*@

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Required" } })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Coordinator*@

        <div class="form-group">
            @Html.LabelFor(model => model.CoordinatorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CoordinatorId, Model.CoordinatorDropDownList, "Select Coordinator", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.CoordinatorId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Course Type*@

        <div class="form-group">
            @Html.LabelFor(model => model.CourseTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CourseTypeId, Model.CourseTypeTitleDropDownList, "Select Course Type", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.CourseTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Buttons*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default span-btn-cancel" href="@Url.Action("Index", "Course")">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
