@model IEnumerable<A2.University.Web.Models.StaffPortal.CourseIndexViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Manage Courses";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/course.png")"/>
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete courses
            </p>
        </div>
    </div>
</div>

@*Feedback notice, only shown if tempdata exists*@
@Html.Partial("_FeedbackNotice")

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "Course")">Create New Course</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting/pagination.
*@

@Html.Grid(Model).Columns(columns =>
{
    // course id
    columns.Add(data => data.CourseId)
        .Titled("Course ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // Title
    columns.Add(data => data.Title)
        .Titled("Title")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // coordinator
    columns.Add(data => data.StaffFullName)
        .Titled("Coordinator")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // course type
    columns.Add(data => data.CourseTypeTitle)
        .Titled("Course Type")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // credit points
    columns.Add(data => data.CreditPoints)
        .Titled("CP")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // Duration
    columns.Add(data => data.Duration)
        .Titled("Duration (months)")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("View", "Details", new { id = data.CourseId }));
    // edit
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Edit", "Edit", new { id = data.CourseId }));
    // delete
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Delete", "Delete", new { id = data.CourseId }));
}).WithPaging(15).Sortable(true)

<a class="btn btn-default button-top-gap" href="@Url.Action("Index", "StaffPortal")">Back</a>